SALESFORCE_HOST=my_host
SALESFORCE_PLATFORM_USERNAME=my_username
SALESFORCE_PLATFORM_PASSWORD=my_password
SALESFORCE_PLATFORM_SECURITY_TOKEN=my_security_token
SALESFORCE_PLATFORM_CONSUMER_KEY=my_client_id
SALESFORCE_PLATFORM_CONSUMER_SECRET=my_client_secret
ZOOM_TOKEN=my_token

